@charset "UTF-8";
/* ----------------------------- variables inicio ------------------------------ */
/* paleta de colores inicio */
/*$colorPalette3: #E8CF33;
$colorPalette4: #05DAE8;
$colorPalette5: #0B939C;*/
/* paleta de colores fin */
/* fuente de letras inicio */
/* fuente de letras fin */
/* background inicio */
/* background fin */
/* ------------------------------variables fin -----------------------------------*/
* {
  font-family: "Averia Serif Libre", cursive;
}

/* -------------------General----------------------- */
body {
  background: #333333;
}

/* nav inicio */
.header {
  height: 135px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100000000;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav .nav__menu-link--active {
  color: #E81C9A;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 2px 2px #000;
  text-transform: uppercase;
  background-image: repeating-linear-gradient(#ffffff, rgba(84, 63, 42, 0) 100px);
  border-radius: 5px;
  padding: 10px;
  filter: drop-shadow(0 0 5px #E81C9A);
  transition: 0.3s;
}
.navbar-nav .nav__menu-link--mdf {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 2px 2px 4px #777;
  background-image: repeating-linear-gradient(#ffffff, rgba(84, 63, 42, 0) 100px);
  border-radius: 5px;
  padding: 5px;
}
.navbar-nav .nav__menu-link--mdf:hover {
  color: #E81C9A;
  filter: drop-shadow(0 0 5px #000);
  transition: 0.3s;
  transition: 0.3s;
}

.container-logo {
  width: 20%;
  height: 20vh;
  z-index: 100000000;
}
.container-logo .logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-logo .logo:hover {
  filter: hue-rotate(40deg);
}

.nav__toggle {
  background: none;
  border: none;
  padding: 0 20px;
  display: none;
  cursor: pointer;
  z-index: 100000000000;
}

.nav-item--position {
  padding: 45px 15px;
}

/* nav fin */
/* hero incio */
.jumbotron {
  padding: 0;
  margin: 0;
}
.jumbotron .hero-container {
  margin: auto;
  width: 100%;
  height: 100vh;
}
.jumbotron .hero__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

/* hero fin */
/* whatsapp icono inicio */
.contact {
  position: fixed;
  right: 20px;
  bottom: 12vh;
}

/* whatsapp icono fin */
/* TITULOS */
.h1-title {
  text-align: center;
  line-height: 2em;
  font-size: 4.5em;
  color: #fff;
  background-color: #FF00FF;
  font-family: "Fredericka the Great", cursive;
}

.h2-title {
  color: #fff;
  text-align: center;
  font-size: 3.5em;
  font-family: "Averia Serif Libre", cursive;
}

.h3-title {
  text-align: center;
  line-height: 2rem;
  font-size: 2.9em;
  color: #fff;
  font-family: "Averia Serif Libre", cursive;
}

/* footer inicio*/
.footer {
  width: 100%;
  height: 25vh;
  background-color: #FF00FF;
  display: flex;
  justify-content: space-between;
  padding: 2% 7% 0 7%;
  height: max-content;
}
.footer .colum1 {
  display: inline-block;
  line-height: 1.5rem;
}
.footer .colum1 .row {
  list-style: none;
  line-height: 2rem;
}
.footer .colum1 .row--redes {
  display: flex;
  justify-content: space-between;
}
.footer .colum2 {
  display: inline-block;
  line-height: 1.5rem;
}
.footer .colum2 .row {
  list-style: none;
  line-height: 2rem;
}
.footer .colum2 .help-link {
  text-decoration: none;
  color: #000;
}
.footer .colum2 .help-link:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 7px #000;
  filter: drop-shadow(0 0 7px #000);
}
.footer .colum3 {
  display: inline-block;
  line-height: 1.5rem;
}
.footer .colum3 .row {
  list-style: none;
  line-height: 2rem;
}
.footer .colum3 .icon-contac--foot {
  line-height: 2;
}

.colum-footer__title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  color: #eee;
  text-shadow: 0px 0px 7px #000;
}
.colum-footer__title .emoji {
  font-size: 1.5rem;
}

.colum-footer__text {
  font-size: x-large;
  font-family: "PT Sans", sans-serif;
}

.icono {
  width: 40px;
  height: 40px;
}
.icono:hover {
  filter: contrast(2);
  filter: brightness(1.5);
  transition: 1s;
}

/* Footer fin*/
/* -------------------------INDEX----------------------------- */
/* Index Titulos inicio*/
.h2-title--index {
  line-height: 2;
}

/* Index Titulos Fin */
/* --------Index Sección1 inicio*---------/
/* Carousel inicio*/
.carousel-indicators li {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-color: 4px solid #000;
  background-color: #E81C9A;
}

.fa-circle-chevron-left {
  font-size: 1.7rem;
  color: #E81C9A;
  font-weight: bold;
}

.fa-circle-chevron-right {
  font-size: 1.7rem;
  color: #E81C9A;
  font-weight: bold;
}

/* Carousel fin*/
/* ----------Index Sección1 fin---------- */
/* ----------Index Sección2 inicio---------- */
.img-container {
  height: 60vh;
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding-top: 5%;
  flex-wrap: wrap;
  overflow: auto;
}
.img-container::-webkit-scrollbar {
  width: 10px;
}
.img-container::-webkit-scrollbar-thumb {
  background-color: #E81C9A;
}
.img-container::-webkit-scrollbar-track-piece {
  box-shadow: inset 0 0 15px #000;
  background: #444;
}
.img-container .img-item {
  max-height: 250px;
  max-width: 250px;
}
.img-container .img-item .img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.144), 0 1px 3px rgba(255, 253, 253, 0.24), 0 1.7px 2px rgba(255, 253, 253, 0.664);
}
.img-container .img-item .img:hover {
  filter: blur(1.2px) brightness(1.3) grayscale(100);
  transition: all 1 ease;
  filter: hue-rotate(300deg);
  transform: scale(1.2);
}

/* ----------Index Sección2 fin---------- */
/* ------------------------Productos------------------------------ */
.card-product {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}
.card-product img {
  width: max-content;
  height: 70%;
  object-fit: cover;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.144), 0 1px 3px rgba(255, 253, 253, 0.24), 0 1.7px 2px rgba(255, 253, 253, 0.664), 0 1.7px 2px rgba(255, 253, 253, 0.87);
}
.card-product img:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
.card-product h4 {
  height: auto;
  width: auto;
  padding-top: 10px;
}
.card-product p {
  padding-top: 3px;
  line-height: 0;
}

.products-item {
  text-align: center;
  color: #fff;
}

/* ------------------------Sobre-Nosotros------------------------- */
.about-us-1 {
  width: 100%;
  height: 55vh;
  margin-top: 5rem;
}
.about-us-1 .txt-pink {
  color: #E81C9A;
}
.about-us-1 .description-1 {
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  margin: 4% 15%;
}

.about-us-2 {
  width: 100%;
  height: 100vh;
}
.about-us-2 .h3-title--about-us {
  line-height: 2rem;
  padding: 5rem 0 3rem;
}
.about-us-2 .txt-pink {
  color: #E81C9A;
}
.about-us-2 .about-chef {
  display: flex;
  padding: 0 2rem;
}
.about-us-2 .about-chef .img-chef-container {
  height: 500px;
}
.about-us-2 .about-chef .img-chef-container .img-chef {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.about-us-2 .about-chef .description-2 {
  height: auto;
  color: #fff;
  text-align: left;
  font-size: 1.2rem;
  border-left: #fff solid 1px;
  height: fit-content;
  padding-left: 9px;
}

/* ------------------------Mi-Cuenta------------------------------ */
/* Formulario-iniciar sesión inicio */
.acct-form {
  background-color: #fff;
  width: 40vw;
  height: auto;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 15%;
  margin-top: 7%;
  padding-top: 3%;
}
.acct-form .form-leyend {
  text-align: center;
  padding-top: 10px;
}
.acct-form .form__input {
  border: none;
  border-bottom: 1px solid #E81C9A;
  border-radius: 0;
}
.acct-form .form__input:focus {
  border-radius: 5px;
  border: 1px solid #E81C9A;
  box-shadow: 1px 0px 3px #E81C9A, -1px 0px 3px #E81C9A, 0px 1px 3px #E81C9A, 0px -1px 3px #E81C9A;
}
.acct-form .form__btn--login {
  border-radius: 3px;
  color: #fff;
  background-image: linear-gradient(to bottom, #E81C9A 50%, #333);
  border: transparent;
  margin: 10px 20px;
  font-size: 1.2em;
  padding: 0.5rem;
}
.acct-form .form__btn--login:hover {
  color: #eee;
  background-image: linear-gradient(to top, #E81C9A 50%, #333);
  padding: 0.5rem;
}
.acct-form .new-acct {
  font-weight: bold;
}
.acct-form .new-acct--pink {
  color: #E81C9A;
  font-weight: bold;
}

/* Formulario-iniciar sesión fin */
/* ------------------------Compras-------------------------------- */
.empty-cart {
  width: 100%;
  height: 100vh;
}
.empty-cart .empty-cart__center {
  padding: 25% 0;
}

/* -------------------------Contacto------------------------------*/
/* sección1 contacto inicio */
.form {
  background-color: #fff;
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 3rem;
  margin-top: 5rem;
  padding: 10px;
}
.form .form-leyend {
  text-align: center;
  padding-top: 10px;
}
.form .form__input {
  border: none;
  border-bottom: 1px solid #E81C9A;
  border-radius: 0;
}
.form .form__input:focus {
  border-radius: 5px;
  border: 1px solid #E81C9A;
  box-shadow: 1px 0px 3px #E81C9A, -1px 0px 3px #E81C9A, 0px 1px 3px #E81C9A, 0px -1px 3px #E81C9A;
}
.form input::-webkit-inner-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form .form__input-text-area {
  resize: none;
  border: 1px solid rgb(218, 212, 212);
  border-radius: 5px;
}
.form .form__btn {
  border-radius: 3px;
  color: #eee;
  background-image: linear-gradient(to bottom, #E81C9A 50%, #333);
  border: transparent;
  margin: 0 20px;
  font-size: 1.2em;
  padding: 5px;
}
.form .form__btn:hover {
  color: #fff;
  padding: 5px;
  background-image: linear-gradient(to top, #E81C9A 50%, #333);
}

/* sección1 contacto fin */
/* sección2 contacto inicio */
.contac-banner-two {
  height: auto;
  width: 100%;
  padding-bottom: 4rem;
  display: flex;
  /* mapa inicio */
  /* mapa fin */
  /* mas info inicio */
  /* mas info fin*/
}
.contac-banner-two .map-container {
  padding: 1.5rem;
  box-sizing: border-box;
  display: inline-block;
}
.contac-banner-two .map-container .map {
  border-radius: 0.5rem;
}
.contac-banner-two .more-info-container {
  display: inline-block;
  width: max-content;
  margin-top: 1.5rem;
}
.contac-banner-two .more-info-container .h2-title--contac {
  background-color: inherit;
}
.contac-banner-two .more-info-container .inf-item_container {
  display: flex;
  flex-direction: column;
}
.contac-banner-two .more-info-container .inf-item_container .inf-item {
  padding: 1rem;
}
.contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac {
  text-align: left;
  margin: 0.8rem;
  font-size: 1.7rem;
}
.contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac .map-icon {
  height: 1.5rem;
}
.contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac .map-icon:hover {
  transform: scale(1.5);
  filter: drop-shadow(0 0 0.75rem crimson);
  transition: 1s;
}
.contac-banner-two .more-info-container .inf-item_container .inf-item .p-inf-item {
  color: #fff;
  display: flex;
  column-gap: 10px;
  text-align: left;
}
.contac-banner-two .more-info-container .inf-item_container .inf-item .p-inf-item--lh {
  line-height: 1.7rem;
}

/* sección2 contacto fin */
/* --------------------------------Ayuda------------------------- */
/* General fin */
/* General inicio */
/* Creditos */
.credits-container {
  width: 100%;
  height: 50vh;
  margin: 2rem auto;
  display: grid;
}
.credits-container ul {
  list-style: none;
  margin: 2rem auto;
}
.credits-container ul li {
  padding-top: 1rem;
}
.credits-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.description-help {
  text-align: justify;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  margin: 5% 10%;
}

/*--------------------------------------------- Media Queries------------------------------------------------------------------ */
/* ---------------------------DISPOSITIVOS EXTRA EXTRA PEQUEÑOS "xs"--------------- */
@media only screen and (max-width: 340.8px) {
  /* --------------------MQ-NAV---------------- */
  /* nav inicio */
  .header {
    height: 60px;
  }

  .container-logo {
    width: 35px;
    height: 35px;
  }

  .nav__toggle {
    font-size: 1.4rem;
    display: block;
    color: #E81C9A;
    text-shadow: 3px 2px 2px rgba(50, 50, 50, 0.1), 2px 2px 1px rgba(20, 20, 20, 0.5);
  }

  .nav-item--position {
    padding: 20px 20px;
  }

  /* nav fin */
  /* whatsapp icono inicio */
  .contact {
    right: 7px;
    bottom: 7vh;
  }

  /* whatsapp icono fin */
  .icono {
    height: 17px;
    width: 17px;
  }

  /* TITULOS */
  .h1-title {
    font-size: 1.5rem;
  }

  .h2-title {
    font-size: 1.4rem;
  }

  .h3-title {
    line-height: 2rem;
    font-size: 1rem;
  }

  /*--------------MQ-Footer--------------- */
  .footer .colum1 .row {
    line-height: 1rem;
  }
  .footer .colum1 .row--redes {
    flex-direction: column;
    line-height: 2;
  }
  .footer .colum2 .row {
    line-height: 1rem;
  }
  .footer .colum3 .row {
    line-height: 1rem;
  }
  .footer .colum3 .icon-contac--foot {
    font-size: 10px;
  }

  .colum-footer__title {
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
  }
  .colum-footer__title .emoji {
    font-size: 0.6rem;
  }

  .colum-footer__text {
    font-size: 0.45rem;
    font-weight: bold;
  }

  /* ----------------------MQ--SOBRE-NOSOTROS inicio ------------- */
  .about-us-1 {
    height: 55vh;
    margin-top: 1rem;
  }
  .about-us-1 .description-1 {
    font-size: 0.7rem;
    margin: 5% 10%;
  }

  .about-us-2 {
    height: 65vh;
  }
  .about-us-2 .h3-title--about-us {
    line-height: 2;
    padding: 3rem 0 1rem;
  }
  .about-us-2 .about-chef {
    display: flex;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .about-us-2 .about-chef .img-chef-container {
    width: 100%;
    height: 200px;
  }
  .about-us-2 .about-chef .img-chef-container .img-chef {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  .about-us-2 .about-chef .description-2 {
    text-align: justify;
    width: 100%;
    font-size: 0.55rem;
    border: none;
    padding-left: 0;
  }

  /* ----------------------MQ--SOBRE-NOSOTROS fin ------------- */
  /* ----------------------MQ--MI-CUENTA inicio------------- */
  .acct-form {
    width: 85vw;
    margin-bottom: 10%;
  }

  /* ----------------------MQ--SOBRE-NOSOTROS fin------------- */
  /* ----------------------MQ--PRODUCTOS inicio------------- */
  .card-product h4 {
    font-size: medium;
  }
  .card-product p {
    font-size: smaller;
  }

  /* ----------------------MQ--PRODUCTOS fin------------- */
  /* ----------------------MQ--CONTACTO inicio----------- */
  /* sección1 contacto inicio */
  .form {
    width: auto;
    max-width: 360px;
    padding: 0;
  }
  .form .form__btn {
    font-size: smaller;
  }
  .form input,
.form .form__input-text-area {
    font-size: small;
  }

  /* sección1 contacto fin */
  /* sección2 contacto inicio */
  .contac-banner-two {
    flex-direction: column;
    align-items: center;
    padding: 0;
    /* mapa inicio */
    /* mapa fin */
    /* mas info inicio */
    /* mas info fin */
  }
  .contac-banner-two .map-container {
    text-align: center;
    width: auto;
    padding: 0;
  }
  .contac-banner-two .map-container .map {
    height: 325px;
    width: auto;
    padding: 0;
  }
  .contac-banner-two .more-info-container {
    width: auto;
  }
  .contac-banner-two .more-info-container .inf-item_container {
    justify-content: center;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac {
    font-size: larger;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .p-inf-item {
    font-size: smaller;
  }

  /* sección2 contacto fin */
  /* ----------------------MQ--CONTACTO fin----------- */
}
/* -------------------DISPOSITIVOS MUY PEQUEÑOS "xs"---------------------- */
@media only screen and (min-width: 341px) and (max-width: 521.8px) {
  /* --------------------MQ-NAV---------------- */
  /* nav inicio */
  .header {
    height: 60px;
  }

  .container-logo {
    width: 50px;
    height: 50px;
  }

  .nav__toggle {
    font-size: 1.4rem;
    display: block;
    color: #E81C9A;
    text-shadow: 3px 2px 2px rgba(50, 50, 50, 0.1), 2px 2px 1px rgba(20, 20, 20, 0.5);
  }

  .nav-item--position {
    padding: 20px 20px;
  }

  /* nav fin */
  /* whatsapp icono fin */
  .contact {
    right: 7px;
    bottom: 7vh;
  }

  /* whatsapp icono fin */
  /* icono inicio */
  .icono {
    height: 20px;
    width: 20px;
  }

  /* icono fin */
  /* TITULOS */
  .h1-title {
    line-height: 2.5em;
    font-size: 2rem;
  }

  .h2-title {
    font-size: 1.8rem;
  }

  .h3-title {
    line-height: 2rem;
    font-size: 1.4rem;
  }

  /* --------------MQ-Footer--------------- */
  .footer .colum1 .row {
    line-height: 1rem;
  }
  .footer .colum1 .row--redes {
    flex-direction: column;
  }
  .footer .colum2 .row {
    line-height: 1rem;
  }
  .footer .colum3 .row {
    line-height: 1rem;
  }
  .footer .colum3 .icon-contac--foot {
    line-height: 1;
  }

  .colum-footer__title {
    font-size: 1rem;
    padding-bottom: 0.4rem;
  }
  .colum-footer__title .emoji {
    font-size: 0.6rem;
  }

  .colum-footer__text {
    font-size: 0.7rem;
  }

  /* ----------------------MQ--PRODUCTOS inicio ------------- */
  .card-product h4 {
    font-size: medium;
  }
  .card-product p {
    font-size: smaller;
  }

  /* ----------------------MQ--PRODUCTOS fin ------------- */
  /* ----------------------MQ--SOBRE-NOSOTROS inicio ------------- */
  .about-us-1 {
    height: 60vh;
    margin-top: 1rem;
  }
  .about-us-1 .description-1 {
    font-size: 0.9rem;
    margin: 5% 10%;
  }

  .about-us-2 .h3-title--about-us {
    line-height: 3rem;
  }
  .about-us-2 .about-chef {
    flex-wrap: wrap;
  }
  .about-us-2 .about-chef .img-chef-container {
    width: 100%;
    height: 200px;
  }
  .about-us-2 .about-chef .description-2 {
    text-align: justify;
    width: 100%;
    font-size: 0.75rem;
    border: none;
    padding-left: 0;
  }

  /* ----------------------MQ--SOBRE-NOSOTROS fin ------------- */
  /* ----------------------MQ--MI-CUENTA inicio------------- */
  /* Formulario-iniciar sesión inicio */
  .acct-form {
    width: 80vw;
    margin-bottom: 10%;
  }

  /* Formulario-iniciar sesión inicio */
  /* ----------------------MQ--MI-CUENTA fin------------- */
  /* ----------------------MQ--CONTACTO inicio----------- */
  /* sección1 contacto inicio */
  .form {
    width: auto;
    max-width: 360px;
  }

  /* sección1 contacto fin */
  /* sección2 contacto inicio */
  .contac-banner-two {
    flex-direction: column;
    align-items: center;
    /* mapa inicio */
    /* mapa fin */
    /* mas info inicio */
    /* mas info fin */
  }
  .contac-banner-two .map-container {
    text-align: center;
    width: auto;
  }
  .contac-banner-two .map-container .map {
    height: 325px;
    width: auto;
  }
  .contac-banner-two .more-info-container {
    width: auto;
  }
  .contac-banner-two .more-info-container .inf-item_container {
    justify-content: center;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac {
    font-size: larger;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .p-inf-item {
    font-size: smaller;
  }

  /* sección2 contacto fin */
  /* ----------------------MQ--CONTACTO fin----------- */
}
/* ------------------DISPOSITIVOS PEQUEÑOS "sm" ----------------(TELEFONOS, 576px and up) */
@media only screen and (min-width: 522px) and (max-width: 767.98px) {
  /* --------------------MQ-NAV---------------- */
  /* nav inicio */
  .header {
    height: 60px;
  }

  .container-logo {
    width: 100px;
    height: 100px;
  }

  .nav__toggle {
    font-size: 2rem;
    display: block;
    color: #E81C9A;
    text-shadow: 3px 2px 2px rgba(50, 50, 50, 0.1), 2px 2px 1px rgba(20, 20, 20, 0.5);
  }

  .nav-item--position {
    padding: 20px 20px;
  }

  /* nav fin */
  /* Icono de whatsapp inicio */
  .contact {
    right: 7px;
    bottom: 7vh;
  }

  /* Icono de whatsapp fin */
  /* Icono inicio */
  .icono {
    height: 30px;
    width: 30px;
  }

  /* Icono fin */
  /* TITULOS */
  .h1-title {
    font-size: 3rem;
  }

  .h2-title {
    font-size: 2rem;
  }

  .h3-title {
    font-size: 1.4rem;
  }

  /* --------------MQ-Footer--------------- */
  .footer .colum1 .row--redes {
    flex-direction: column;
  }

  .colum-footer__title {
    font-size: 1.5rem;
    padding-bottom: 0.6rem;
  }
  .colum-footer__title .emoji {
    font-size: 1rem;
  }

  .colum-footer__text {
    font-size: 0.9rem;
  }

  /* ----------------------MQ--SOBRE-NOSOTROS inicio------------- */
  /* sobre nosotros seccion1 inicio */
  .about-us-1 {
    height: 50vh;
    margin-top: 2rem;
  }
  .about-us-1 .description-1 {
    font-size: 1rem;
    margin: 5% 10%;
  }

  /* sobre nosotros seccion1 fin */
  /* sobre nosotros seccion2 inicio */
  .about-us-2 .about-chef {
    flex-wrap: wrap;
  }
  .about-us-2 .about-chef .img-chef-container {
    width: 100%;
    height: 200px;
  }
  .about-us-2 .about-chef .description-2 {
    text-align: justify;
    width: 100%;
    font-size: 0.8rem;
    border: none;
    padding-left: 0;
  }

  /* sobre nosotros seccion2 fin */
  /* ----------------------MQ--SOBRE-NOSOTROS fin------------- */
  /* ----------------------MQ--MI-CUENTA inicio------------- */
  /* Formulario-iniciar sesión inicio */
  .acct-form {
    width: 55vw;
    margin-bottom: 10%;
  }

  /* Formulario-iniciar sesión fin */
  /* ----------------------MQ--MI-CUENTA fin------------- */
  /* ----------------------MQ--PRODUCTOS inicio------------- */
  .card-product h4 {
    font-size: medium;
  }
  .card-product p {
    font-size: smaller;
  }

  /* ----------------------MQ--PRODUCTOS fin---------------- */
  /* ----------------------MQ--CONTACTO inicio----------- */
  /* sección2 contacto inicio */
  .contac-banner-two {
    flex-direction: column;
    align-items: center;
    /* mapa inicio */
    /* mapa fin */
    /* mas info inicio */
    /* mas info inicio */
  }
  .contac-banner-two .map-container {
    text-align: center;
  }
  .contac-banner-two .map-container .map {
    height: 300px;
    width: 400px;
  }
  .contac-banner-two .more-info-container .inf-item_container {
    justify-content: center;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac {
    font-size: larger;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .p-inf-item {
    font-size: small;
  }

  /* sección2 contacto fin */
  /* ----------------------MQ--CONTACTO fin----------- */
}
/* ---------------------------------------DISPOSITIVOS MEDIANOS (TABLETS) "md" -----------------------*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  /* --------------------MQ-NAV inicio---------------- */
  /* nav inicio */
  .header {
    height: 120px;
  }

  .container-logo {
    width: 135px;
    height: 135px;
  }

  .nav__toggle {
    font-size: 2.7rem;
    display: block;
    color: #E81C9A;
    text-shadow: 3px 2px 2px rgba(50, 50, 50, 0.1), 2px 2px 1px rgba(20, 20, 20, 0.5);
  }

  /* nav fin */
  /* whatsapp icono inicio */
  .contact {
    right: 12px;
  }

  /* whatsapp icono fin */
  /* icono inicio */
  .icono {
    height: 35px;
    width: 35px;
  }

  /* icono fin */
  /* TITULOS */
  .h1-title {
    font-size: 4.5rem;
  }

  .h2-title {
    font-size: 3.5rem;
  }

  .h3-title {
    font-size: 2.5rem;
  }

  /* --------------------MQ-NAV fin---------------- */
  /* --------------------MQ-Footer inicio----------------- */
  .colum-footer__title {
    font-size: 1.8rem;
    padding-bottom: 0.8rem;
  }
  .colum-footer__title .emoji {
    font-size: 1.3rem;
  }

  .colum-footer__text {
    font-size: 1.2rem;
  }

  /* --------------------MQ-Footer fin----------------- */
  /* --------------------MQ-SOBRE-NOSOTROS inicio----------- */
  .about-us-1 {
    height: 60vh;
    margin: 3rem 0 8rem;
  }
  .about-us-1 .description-1 {
    font-size: 1.5rem;
    margin: 5% 15%;
  }

  .about-us-2 .h3-title--about-us {
    line-height: 4rem;
  }
  .about-us-2 .about-chef {
    flex-wrap: wrap;
  }
  .about-us-2 .about-chef .img-chef-container {
    width: 100%;
    height: 400px;
  }
  .about-us-2 .about-chef .description-2 {
    text-align: justify;
    width: 100%;
    font-size: 1rem;
    border: none;
    padding-left: 0;
  }

  /* --------------------MQ-SOBRE-NOSOTROS fin----------- */
  /* ----------------- MQ-PRODUCTOS inicio--------------- */
  .card-product h4 {
    font-size: large;
  }
  .card-product p {
    font-size: medium;
  }

  /*------------------ MQ-PRODUCTOS fin--------------- */
  /* ----------------------MQ--CONTACTO inicio----------- */
  /* sección2 contacto inicio */
  .contac-banner-two {
    flex-direction: column;
    align-items: center;
    /* mapa inicio */
    /* mapa fin */
    /* mas info inicio */
    /* mas info fin */
  }
  .contac-banner-two .map-container {
    text-align: center;
  }
  .contac-banner-two .map-container .map {
    height: 325px;
    width: 425px;
  }
  .contac-banner-two .more-info-container .inf-item_container {
    flex-direction: row;
    justify-content: center;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .contac-banner-two .more-info-container .inf-item_container .inf-item .h3-title--contac {
    font-size: larger;
  }

  /* sección2 contacto fin */
  /* ----------------------MQ--CONTACTO fin----------- */
}
/*------------------------DISPOSITIVOS GRANDES (COMPUTADORAS) "lg"--------------------- */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  /* --------------------MQ-GENERAL---------------- */
  /* ------nav inicio------ */
  .header {
    height: 120px;
  }

  .container-logo {
    width: 100px;
    height: 100px;
  }

  /* enlaces inicio */
  .nav-item a {
    font-size: large;
  }

  /* enlaces fin */
  /* -------nav fin------- */
  /* whatsapp icono inicio */
  .contact {
    right: 7px;
    bottom: 7vh;
  }

  /* whatsapp icono fin */
  /*  icono inicio */
  .icono {
    height: 30px;
    width: 30px;
  }

  /* icono fin */
  /* TITULOS */
  .h1-title {
    line-height: 3em;
    font-size: 4rem;
  }

  .h2-title {
    font-size: 3rem;
  }

  .h3-title {
    font-size: 2rem;
  }

  /* footer inicio */
  .colum-footer__title {
    padding-bottom: 0.6rem;
  }
  .colum-footer__title .emoji {
    font-size: 1.4rem;
  }

  .colum-footer__text {
    font-size: 1.3rem;
  }

  /* footer fin */
  /* ----------------------MQ--SOBRE-NOSOTROS------------- */
  .about-us-1 {
    height: 50vh;
  }
  .about-us-1 .description-1 {
    font-size: 1rem;
    margin: 5% 10%;
  }

  .about-us-2 .about-chef {
    display: flex;
    padding: 0 2rem;
    flex-wrap: wrap;
  }
  .about-us-2 .about-chef .img-chef-container {
    width: 100%;
    height: 300px;
  }
  .about-us-2 .about-chef .description-2 {
    text-align: justify;
    width: 100%;
    font-size: 0.8rem;
    border: none;
    padding-left: 0;
  }

  /* ----------------------MQ--PRODUCTOS inicio------------- */
  .card-product h4 {
    font-size: large;
  }
  .card-product p {
    font-size: medium;
  }

  /* ----------------------MQ--PRODUCTOS fin------------- */
  /* ----------------------MQ--CONTACTO inicio------------- */
  /* sección2 contacto inicio */
  .contac-banner-two .map-container .map {
    height: 380px;
    width: 450px;
  }

  /* sección2 contacto fin */
  /* ----------------------MQ--CONTACTO fin------------- */
}
/*--------------------------------DISPOSITIVOS EXTRAGRANDES (COMPUTADORAS GRANDES) "xl"---------------- */
@media only screen and (min-width: 1200px) and (max-width: 1399.98px) {
  /* --------------------------MQ-NAV----------------------------------------------------------- */
  /* nav inicio */
  .header {
    height: 150px;
  }

  .container-logo {
    width: 15%;
  }

  /* enlaces inicio */
  .nav-item a {
    font-size: x-large;
  }

  /* enlaces fin */
  /* nav fin */
  /* ----------------------MQ--PRODUCTOS inicio------------- */
  .card-product h4 {
    font-size: x-large;
  }
  .card-product p {
    font-size: large;
  }

  /* ----------------------MQ--PRODUCTOS fin------------- */
}
/*----------------DISPOSITIVOS EXTRA EXTRA GRANDES (COMPUTADORAS MAS GRANDES) "xxl"--------------------------------------*/
@media only screen and (min-width: 1400px) {
  /* --------------------------MQ-NAV inicio----------------------------------------------------------- */
  /* nav inicio */
  .header {
    height: 160px;
  }

  .container-logo {
    width: 15%;
  }

  /* enlaces inicio */
  .nav-item a {
    font-size: x-large;
  }

  /* enlaces fin */
  /* nav fin */
  /* --------------------------MQ-NAV fin----------------------------------------------------------- */
  /* ----------------------MQ--PRODUCTOS inicio------------- */
  .card-product p {
    font-size: large;
  }

  /* ----------------------MQ--PRODUCTOS fin------------- */
}

/*# sourceMappingURL=estilo.css.map */
